.idea
Class/migrations
contract/migrations
Flow/migrations
Galery/migrations
Partners/migrations
Rooms/migrations
Students/migrations
Teachers/migrations
Users/migrations
Vacations/migrations
Workers/migrations
Calendar/migrations
__pycache__
